@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@layer utilities {
  body {
    font-family: "Poppins", sans-serif;
    height: auto;
  }
  .content-auto {
    content-visibility: auto;
  }
  .shadow-login {
    box-shadow: 0 15px 17px 0.17px rgb(0 0 0 / 5%);
  }
  .social-network-animation {
    transform: scale(1.3) translateZ(0);
  }

  .my-shadow {
    box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px,
      rgb(255 255 255 / 15%) 0px 0px 3px 1px;
  }

  .hoverAnimation {
    @apply hover:bg-[#d9d9d9] dark:hover:bg-[#0f1419] dark:hover:bg-opacity-10 hover:bg-opacity-10 rounded-full 
		cursor-pointer w-[52px] h-[52px] xl:w-auto xl:h-auto xl:py-2 xl:px-4
		transition duration-200 ease-out;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .border-color {
    @apply border-[#2F3336];
  }
  .bg-transparent {
    background-color: rgba(0, 0, 0, 0.65);
  }
  .width-page {
    @apply fixed top-0 left-[70px] right-0 md:w-[calc(100%_-_370px)] xl:w-[calc(100%_-_802px)] xl:left-[402px] text-white h-screen z-20;
  }
  .input-message {
    @apply fixed bottom-0 left-[70px] right-0 md:w-[calc(100%_-_370px)] xl:w-[calc(100%_-_802px)] xl:left-[402px] text-white;
  }
  .display-message {
    @apply fixed bottom-[71px] left-[70px] top-[79px] right-0 md:w-[calc(100%_-_370px)] xl:w-[calc(100%_-_802px)] xl:left-[402px] text-white;
  }

  .md-tweet-post {
    @apply absolute top-20 left-1/2 -translate-x-1/2;
  }
  .bg-transparent-config {
    background-color: rgba(91, 112, 131, 0.4);
  }
  .hoverAnimation2 {
    @apply rounded-full bg-[#d9d9d9] bg-opacity-10  dark:bg-gray-100;
  }
  .position-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .md-modal-new-message {
    @apply w-[600px] h-[650px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-2xl;
  }
  .modal-shadow {
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px,
      rgb(101 119 134 / 15%) 0px 0px 3px 1px;
  }
}
.Toastify__toast-container {
  width: max-content;
}
.Toastify__toast {
  min-height: 0;
  border-radius: 5px;
}
.Toastify__toast-theme--light {
  background: #1d9bf0;
  color: white;
  font-size: 14px;
  padding: 10px;
}
.Toastify__toast-body {
  padding: 0;
  margin: 0;
  height: 24px;
  margin-right: 10px;
}
.Toastify__close-button {
  display: none;
}
